<?xml version="1.0"?>
<config>
    <modules>
        <JR_Customerpreference>
            <version>0.1.0</version>
        </JR_Customerpreference>
    </modules>
    <frontend>
        <routers>
            <customerpreference>
                <use>standard</use>
                <args>
                    <module>JR_Customerpreference</module>
                    <frontName>customerpreference</frontName>
                </args>
            </customerpreference>
            <customer>
        				<args>
          					<modules>
          						      <JR_Customerpreference before="Mage_Customer">JR_Customerpreference</JR_Customerpreference>
          					</modules>
        				</args>
      			</customer>
        </routers>
        <layout>
            <updates>
                <customerpreference>
                    <file>customerpreference.xml</file>
                </customerpreference>
            </updates>
        </layout>
    </frontend>
    <admin>
		<routers>
			<adminhtml>
                <args>
                    <modules>
                        <customerpreference after="Mage_Adminhtml">JR_Customerpreference_Adminhtml</customerpreference>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<customer module="customer">
				<children>
  					<preference module="customerpreference">
  						<title>Customer Preference</title>
  						<sort_order>100</sort_order>
  						<action>adminhtml/customerpreference</action>
  					</preference>
				</children>
			</customer>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<JR_Customerpreference>
							<title>Customerpreference Module</title>
							<sort_order>10</sort_order>
						</JR_Customerpreference>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<customerpreference>
					<file>customerpreference.xml</file>
				</customerpreference>
			</updates>
		</layout>
    </adminhtml>
    <global>
        <models>
            <customerpreference>
                <class>JR_Customerpreference_Model</class>
                <resourceModel>customerpreference_mysql4</resourceModel>
            </customerpreference>
            <customerpreference_mysql4>
                <class>JR_Customerpreference_Model_Mysql4</class>
                <entities>
                    <customerpreference>
                        <table>customer_preference</table>
                    </customerpreference>
                    <attribute>
                        <table>customer_preference_attribute</table>
                    </attribute>
                    <members>
                        <table>customer_preference_members</table>
                    </members>
                </entities>
            </customerpreference_mysql4>
        </models>
        <resources>
            <customerpreference_setup>
                <setup>
                    <module>JR_Customerpreference</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </customerpreference_setup>
            <customerpreference_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </customerpreference_write>
            <customerpreference_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </customerpreference_read>
        </resources>
        <blocks>
            <customerpreference>
                <class>JR_Customerpreference_Block</class>
            </customerpreference>
        </blocks>
        <helpers>
            <customerpreference>
                <class>JR_Customerpreference_Helper</class>
            </customerpreference>
        </helpers>
    </global>
</config>
